## Data Challenge - Weather in Australia

In this section, we want you to use the skills from previous labs to extract interesting insights from the "Rain in Australia" dataset. The dataset can be found in [here](https://www.kaggle.com/jsphyg/weather-dataset-rattle-package) in Kaggle. You will need to sign up on Kaggle, if you don't have an account yet. If you are interested about data, you must have a Kaggle acount. So if you don't have one yet, consider this a great tip!

To help you get started, this notebook provides a few basic code. Here, I downloaded the data and uploaded it in a folder called weather_aus in my databricks account.

In [2]:
# Similar to SparkContext, for SparkSQL you need a SparkSession
from pyspark.sql import SparkSession
# Also all the functions (select, where, groupby) needs to be imported
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [3]:
# instantiate spark session
spark = SparkSession.builder.getOrCreate()

In [4]:
# read weather data
weather_df = spark.read.csv("/FileStore/tables/weather_aus/weatherAUS.csv", header=True)

In [5]:
# take a sneak peak into the data 
display(weather_df.take(10))

Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow,Month-Year
2008-12-01T00:00:00.000+0000,Albury,13.4,22.9,0.6,NA,NA,W,44,W,WNW,20,24,71,22,1007.7,1007.1,8,NA,16.9,21.8,No,0,No,2008-12
2008-12-02T00:00:00.000+0000,Albury,7.4,25.1,0,NA,NA,WNW,44,NNW,WSW,4,22,44,25,1010.6,1007.8,NA,NA,17.2,24.3,No,0,No,2008-12
2008-12-03T00:00:00.000+0000,Albury,12.9,25.7,0,NA,NA,WSW,46,W,WSW,19,26,38,30,1007.6,1008.7,NA,2,21,23.2,No,0,No,2008-12
2008-12-04T00:00:00.000+0000,Albury,9.2,28,0,NA,NA,NE,24,SE,E,11,9,45,16,1017.6,1012.8,NA,NA,18.1,26.5,No,1,No,2008-12
2008-12-05T00:00:00.000+0000,Albury,17.5,32.3,1,NA,NA,W,41,ENE,NW,7,20,82,33,1010.8,1006,7,8,17.8,29.7,No,0.2,No,2008-12
2008-12-06T00:00:00.000+0000,Albury,14.6,29.7,0.2,NA,NA,WNW,56,W,W,19,24,55,23,1009.2,1005.4,NA,NA,20.6,28.9,No,0,No,2008-12
2008-12-07T00:00:00.000+0000,Albury,14.3,25,0,NA,NA,W,50,SW,W,20,24,49,19,1009.6,1008.2,1,NA,18.1,24.6,No,0,No,2008-12
2008-12-08T00:00:00.000+0000,Albury,7.7,26.7,0,NA,NA,W,35,SSE,W,6,17,48,19,1013.4,1010.1,NA,NA,16.3,25.5,No,0,No,2008-12
2008-12-09T00:00:00.000+0000,Albury,9.7,31.9,0,NA,NA,NNW,80,SE,NW,7,28,42,9,1008.9,1003.6,NA,NA,18.3,30.2,No,1.4,Yes,2008-12
2008-12-10T00:00:00.000+0000,Albury,13.1,30.1,1.4,NA,NA,W,28,S,SSE,15,11,58,27,1007,1005.7,NA,NA,20.1,28.2,Yes,0,No,2008-12

In [6]:
# convert the date column to datetime instead of string
weather_df = weather_df.withColumn('Date', unix_timestamp(weather_df.Date, 'yyyy-MM-dd').cast(TimestampType()))

In [7]:
TimestampType

In [8]:
# create a column with only Month and Year using the concat spark sql function
weather_df = weather_df.withColumn('Month-Year',concat(year(weather_df.Date),lit('-'),month(weather_df.Date)))

In [9]:
# take a look at our new column
display(weather_df.take(10))

Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow,Month-Year
2008-12-01T00:00:00.000+0000,Albury,13.4,22.9,0.6,NA,NA,W,44,W,WNW,20,24,71,22,1007.7,1007.1,8,NA,16.9,21.8,No,0,No,2008-12
2008-12-02T00:00:00.000+0000,Albury,7.4,25.1,0,NA,NA,WNW,44,NNW,WSW,4,22,44,25,1010.6,1007.8,NA,NA,17.2,24.3,No,0,No,2008-12
2008-12-03T00:00:00.000+0000,Albury,12.9,25.7,0,NA,NA,WSW,46,W,WSW,19,26,38,30,1007.6,1008.7,NA,2,21,23.2,No,0,No,2008-12
2008-12-04T00:00:00.000+0000,Albury,9.2,28,0,NA,NA,NE,24,SE,E,11,9,45,16,1017.6,1012.8,NA,NA,18.1,26.5,No,1,No,2008-12
2008-12-05T00:00:00.000+0000,Albury,17.5,32.3,1,NA,NA,W,41,ENE,NW,7,20,82,33,1010.8,1006,7,8,17.8,29.7,No,0.2,No,2008-12
2008-12-06T00:00:00.000+0000,Albury,14.6,29.7,0.2,NA,NA,WNW,56,W,W,19,24,55,23,1009.2,1005.4,NA,NA,20.6,28.9,No,0,No,2008-12
2008-12-07T00:00:00.000+0000,Albury,14.3,25,0,NA,NA,W,50,SW,W,20,24,49,19,1009.6,1008.2,1,NA,18.1,24.6,No,0,No,2008-12
2008-12-08T00:00:00.000+0000,Albury,7.7,26.7,0,NA,NA,W,35,SSE,W,6,17,48,19,1013.4,1010.1,NA,NA,16.3,25.5,No,0,No,2008-12
2008-12-09T00:00:00.000+0000,Albury,9.7,31.9,0,NA,NA,NNW,80,SE,NW,7,28,42,9,1008.9,1003.6,NA,NA,18.3,30.2,No,1.4,Yes,2008-12
2008-12-10T00:00:00.000+0000,Albury,13.1,30.1,1.4,NA,NA,W,28,S,SSE,15,11,58,27,1007,1005.7,NA,NA,20.1,28.2,Yes,0,No,2008-12

In [10]:
# count number of missing MaxTemp
weather_df.filter(weather_df.MaxTemp == 'NA').count()

In [11]:
# count number of missing MinTemp
weather_df.filter(weather_df.MinTemp == 'NA').count()

In [12]:
# remove NA and then group by month and year and create a dataframe with different aggregation of temperatures
# you will notice I am taking the minimum of the Date, which should be the first of the month. I am keeping this to make plotting easy, as most plotting library accepts datetime.
temp_agg_df = weather_df.filter(weather_df.MinTemp != 'NA').filter(weather_df.MaxTemp != 'NA').groupBy('Month-Year').agg(min(weather_df.Date).alias('firstDate'), min(weather_df.MinTemp).alias('minTemp'), max(weather_df.MaxTemp).alias('maxTemp'))

## Visualization
You can use plotly, matplotlib, seaborn, and other libraries in python to visualize the results in the temp_agg_df. Since we are using databricks, we will simply use the display function to plot the line chart min and max temperature per month and year.

In [14]:
display(temp_agg_df)

Month-Year,firstDate,minTemp,maxTemp
2016-7,2016-07-01T00:00:00.000+0000,-0.1,9.9
2014-1,2014-01-01T00:00:00.000+0000,10,47.3
2013-4,2013-04-01T00:00:00.000+0000,-0.3,9.6
2016-9,2016-09-01T00:00:00.000+0000,-0.3,9.9
2013-12,2013-12-01T00:00:00.000+0000,-0.4,45.1
2010-11,2010-11-01T00:00:00.000+0000,-0.1,9.4
2010-5,2010-05-01T00:00:00.000+0000,-0.3,9.7
2012-1,2012-01-01T00:00:00.000+0000,-1.3,43
2010-1,2010-01-01T00:00:00.000+0000,-0.6,7.6
2011-9,2011-09-01T00:00:00.000+0000,-0.1,9.9
2014-7,2014-07-01T00:00:00.000+0000,-0.1,9.9
2008-5,2008-05-01T00:00:00.000+0000,-0.1,23.6
2013-9,2013-09-01T00:00:00.000+0000,-0.1,9.8
2010-3,2010-03-01T00:00:00.000+0000,1.6,41.2
2017-5,2017-05-01T00:00:00.000+0000,-0.1,9.9
2010-2,2010-02-01T00:00:00.000+0000,10,42.7
2011-3,2011-03-01T00:00:00.000+0000,1.6,7.8
2015-7,2015-07-01T00:00:00.000+0000,-0.1,9.9
2015-12,2015-12-01T00:00:00.000+0000,1,44.8
2008-8,2008-08-01T00:00:00.000+0000,-0.1,9.9
2009-1,2009-01-01T00:00:00.000+0000,0.7,45.7
2009-6,2009-06-01T00:00:00.000+0000,-0.1,9.9
2010-8,2010-08-01T00:00:00.000+0000,-0.1,9.9
2016-12,2016-12-01T00:00:00.000+0000,1.1,8.8
2009-5,2009-05-01T00:00:00.000+0000,-0.1,9.9
2014-4,2014-04-01T00:00:00.000+0000,-0.2,9.8
2014-2,2014-02-01T00:00:00.000+0000,0.9,44.9
2016-3,2016-03-01T00:00:00.000+0000,0,42.1
2009-10,2009-10-01T00:00:00.000+0000,-0.1,6.3
2007-12,2007-12-01T00:00:00.000+0000,10.1,35
2011-6,2011-06-01T00:00:00.000+0000,-0.1,9.8
2016-10,2016-10-01T00:00:00.000+0000,-0.3,9.7
2012-4,2012-04-01T00:00:00.000+0000,-0.2,9.9
2012-5,2012-05-01T00:00:00.000+0000,-0.1,9.8
2016-1,2016-01-01T00:00:00.000+0000,-0.5,9.3
2012-9,2012-09-01T00:00:00.000+0000,-0.1,9.9
2014-6,2014-06-01T00:00:00.000+0000,-0.2,9.9
2017-2,2017-02-01T00:00:00.000+0000,-1.6,47.3
2009-3,2009-03-01T00:00:00.000+0000,0.8,40.6
2009-9,2009-09-01T00:00:00.000+0000,-0.1,9.9
2008-1,2008-01-01T00:00:00.000+0000,10,35.8
2015-9,2015-09-01T00:00:00.000+0000,-0.1,9.9
2017-6,2017-06-01T00:00:00.000+0000,-0.1,9.9
2013-11,2013-11-01T00:00:00.000+0000,-0.2,8.4
2015-4,2015-04-01T00:00:00.000+0000,-0.6,9.9
2015-8,2015-08-01T00:00:00.000+0000,-0.1,9.9
2015-10,2015-10-01T00:00:00.000+0000,-0.5,9.4
2012-7,2012-07-01T00:00:00.000+0000,-0.1,9.9
2016-5,2016-05-01T00:00:00.000+0000,-0.1,9.8
2013-5,2013-05-01T00:00:00.000+0000,-0.1,9.9
2011-11,2011-11-01T00:00:00.000+0000,0.8,9.9
2011-2,2011-02-01T00:00:00.000+0000,0.9,42.9
2012-11,2012-11-01T00:00:00.000+0000,-0.1,9.8
2015-11,2015-11-01T00:00:00.000+0000,-1.1,7.7
2008-7,2008-07-01T00:00:00.000+0000,-0.1,9.7
2015-1,2015-01-01T00:00:00.000+0000,0.8,45.4
2008-12,2008-12-01T00:00:00.000+0000,-1,8
2012-6,2012-06-01T00:00:00.000+0000,-0.1,9.9
2009-11,2009-11-01T00:00:00.000+0000,-0.5,9.7
2015-3,2015-03-01T00:00:00.000+0000,-0.8,9.6
2008-3,2008-03-01T00:00:00.000+0000,10.1,35.2
2013-8,2013-08-01T00:00:00.000+0000,-0.1,9.8
2010-9,2010-09-01T00:00:00.000+0000,-0.1,9.9
2012-3,2012-03-01T00:00:00.000+0000,-0.1,8.8
2016-11,2016-11-01T00:00:00.000+0000,-0.1,9.7
2009-2,2009-02-01T00:00:00.000+0000,1,8
2015-5,2015-05-01T00:00:00.000+0000,-0.2,9.8
2009-4,2009-04-01T00:00:00.000+0000,-0.1,9.8
2011-10,2011-10-01T00:00:00.000+0000,-0.1,9.8
2011-5,2011-05-01T00:00:00.000+0000,-0.1,9.9
2017-3,2017-03-01T00:00:00.000+0000,-1.1,43
2008-11,2008-11-01T00:00:00.000+0000,10.2,36.6
2014-11,2014-11-01T00:00:00.000+0000,-0.4,9.3
2008-6,2008-06-01T00:00:00.000+0000,-0.2,22.1
2015-2,2015-02-01T00:00:00.000+0000,10,44.8
2009-12,2009-12-01T00:00:00.000+0000,-0.8,43.4
2009-8,2009-08-01T00:00:00.000+0000,-0.1,9.9
2014-9,2014-09-01T00:00:00.000+0000,-0.1,9.4
2009-7,2009-07-01T00:00:00.000+0000,-0.1,9.9
2014-10,2014-10-01T00:00:00.000+0000,-0.2,9.4
2016-8,2016-08-01T00:00:00.000+0000,-0.2,9.9
2017-4,2017-04-01T00:00:00.000+0000,-0.2,9.9
2013-6,2013-06-01T00:00:00.000+0000,-0.1,9.8
2017-1,2017-01-01T00:00:00.000+0000,10,45.7
2008-2,2008-02-01T00:00:00.000+0000,10.4,29.6
2011-7,2011-07-01T00:00:00.000+0000,-0.1,9.9
2014-12,2014-12-01T00:00:00.000+0000,10,44.1
2010-7,2010-07-01T00:00:00.000+0000,-0.1,9.9
2013-3,2013-03-01T00:00:00.000+0000,0.6,9.6
2012-2,2012-02-01T00:00:00.000+0000,10,8.9
2013-10,2013-10-01T00:00:00.000+0000,-0.1,9.9
2010-12,2010-12-01T00:00:00.000+0000,-0.4,9.4
2012-10,2012-10-01T00:00:00.000+0000,-0.1,9.8
2015-6,2015-06-01T00:00:00.000+0000,-0.1,9.9
2014-3,2014-03-01T00:00:00.000+0000,1.2,9.7
2008-9,2008-09-01T00:00:00.000+0000,-0.5,37
2016-6,2016-06-01T00:00:00.000+0000,-0.1,9.9
2007-11,2007-11-01T00:00:00.000+0000,10.1,33.4
2011-12,2011-12-01T00:00:00.000+0000,-0.8,9.3
2013-7,2013-07-01T00:00:00.000+0000,-0.1,9.9
2016-4,2016-04-01T00:00:00.000+0000,1.2,38.6
2010-6,2010-06-01T00:00:00.000+0000,-0.1,9.9
2016-2,2016-02-01T00:00:00.000+0000,10,45.1
2008-4,2008-04-01T00:00:00.000+0000,-1.8,28.7
2010-10,2010-10-01T00:00:00.000+0000,-0.1,9.8
2012-8,2012-08-01T00:00:00.000+0000,-0.1,9.9
2014-5,2014-05-01T00:00:00.000+0000,-0.1,9.9
2011-1,2011-01-01T00:00:00.000+0000,10,48.1
2011-8,2011-08-01T00:00:00.000+0000,-0.1,9.9
2014-8,2014-08-01T00:00:00.000+0000,-0.1,9.9
2013-1,2013-01-01T00:00:00.000+0000,0.7,46.5
2008-10,2008-10-01T00:00:00.000+0000,0.3,37.5
2010-4,2010-04-01T00:00:00.000+0000,-2.6,8.1

Do you see any interesting observations in the chart above? 

Now it is your turn to explore this dataset and find more interesting insights from it. Please use this notebook as a starter and keep digging forward.